/* Index section */

.index {
    width: 100vw;
    height: 100vh;
    background-color: var(--mid-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.index__logo {
    text-align: center;
    position: relative;
}
.index__logo__title {
    font-size: 10rem;
    position: absolute;
    top: 0;
}
.index__logo__title--blurred {
    font-size: 10rem;
    filter: blur(4px);
    opacity: 0.3;
}
.index__logo__title--small {
    font-size: 3rem;
}

.index__gamedemo__gamehere {
    width: 50rem;
    height: 50rem;
    background-color: var(--dark-blue);
    margin: 4rem 0;
    display: grid;
    place-content: center;
}
.index__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.index__buttons__to {
    border: none;
    width: 15rem;
    height: 4rem;
    background-color: var(--light-blue);
}
.index__buttons__to--text {
    color: var(--mid-blue);
    font-size: 3rem;
}
