/* Index section */

.index {
    width: 100vw;
    height: 100vh;
    background-color: var(--mid-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity .5s ease-in-out;
}

.index__logo {
    text-align: center;
    position: relative;
}
.index__logo__title {
    font-size: 10rem;
    position: absolute;
    top: 0;
}


.index__logo__title--blurred {
    font-size: 10rem;
    filter: blur(4px);
    opacity: 0.3;
}
.index__logo__title--small {
    font-size: 3rem;
}

.index__gamedemo__gamehere {
    width: 50rem;
    height: 50rem;
    background-color: var(--dark-blue);
    margin: 4rem 0;
    display: grid;
    place-content: center;
}

.game__canvas {
    width: 50rem;
    height: 50rem;
    background-color: var(--dark-blue);
    margin: 4rem 0;
}

.index__buttons {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.index__buttons__to {
    border: none;
    width: 15rem;
    height: 4rem;
    background-color: var(--light-blue);
}
.index__buttons__to--text {
    color: var(--mid-blue);
    font-size: 3rem;
}

/* Settings section */

.settings {
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--dark-blue);
    padding: 2rem;
    transition: left .5s ease-in-out;
}

.--hide-settings {
    left: -30rem;
}

.settings-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.settings-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.settings-input__label, .login-input__label {
    display: inline-block;
    font-size: 1.5rem;
}
.settings-input__field, .login-input__field {
    background-color: var(--dark-blue);
    border: none;
    font-size: 1.8rem;
    color: var(--light-blue);
    width: 4rem;
    outline: none;
}

.settings-input__checkbox {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--dark-blue);
    outline: none;
    border: .2rem solid var(--light-blue);
}

.settings-input-disabled {
    opacity: 0.3;
}

.settings-input__select {
    background-color: var(--mid-blue);
    border: .2rem solid var(--light-blue);
    width: 8rem;
    height: 2rem;
    font-size: 1.2rem;
    outline: none;
}

.settings-input__checkbox:checked {
    background-color: var(--light-blue);
    /*clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
}

/* Popup Section */

.popup-login {
    position: absolute;
    top: -200%;
    left: 50%;
    z-index: 90;
    transform: translate(-50%, -80%);
    opacity: 0;
    width: 70rem;
    height: 35rem;
    /* From https://css.glass */
    background: rgba(24, 24, 37, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(24, 24, 37, 0.3);
    padding: 2rem;
    transition:
        transform .5s ease-in-out,
        opacity .4s;
    overflow: hidden;
}

.popup-login-show {
    opacity: 1;
    transform: translate(-50%, -50%);
}

.popup-enable-display {
    top: 50%;
}

.popup-login__head {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5rem;
}
.popup-login__alert-msg {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3rem;
    height: 3rem;
    color: red;
}
.popup-login__buttons {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

.login-input__label {
    font-size: 2rem;
}

.login-input__field {
    width: 20rem;
    font-size: 2.5rem;
    background-color: #00000000;
    text-align: end;
}

.login-input__field:autofill {
    appearance: none;
    background-color: #00000000;
}

.login-input {
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 40rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .index__logo__title {
        font-size: 8rem;
    }
    .index__logo__title--blurred {
        font-size: 8rem;
    }


    canvas.game__canvas {
        width: 35rem;
        height: 35rem;
    }

    .index__buttons {
        flex-direction: column;
        width: 100%;
    }


    .index__buttons__to {
        width: 35rem;
    }

    .settings-input__label {
        font-size: 1.8rem;
    }
    .settings-input__field {
        font-size: 1.8rem;
    }
    .settings-input__select {
        width: 10rem;
        height: 2.5rem;
        font-size: 1.6rem;
    }

    .popup-login {
        width: 35rem;
        height: 60rem;
        padding-top: 6rem;
    }

    .popup-login__head {
        font-size: 3.5rem;
    }
    .login-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .login-input__field {
        text-align: center;
    }
    .popup-login__buttons {
        flex-direction: column;
        gap: 2rem;
        width: 100%;
    }
    .popup-back-btn, .popup-play-btn, .popup-login-btn {
        width: 100%;

    }
    .popup-login-show {
        transform: translate(-50%, -40%);
    }
}