/*self hosting fonts (just 1 bruh)*/
@font-face {
    font-family: 'Tiny5';
    src: url('../fonts/Tiny5/Tiny5-Regular.ttf') format('truetype');
}

/* Common constants */
:root .default {
    --dark-blue: #181825;
    --mid-blue: #222738;
    --light-blue: #6e7888;
    --light-blue-hover: #808c9f;

    --svg-mid-blue: invert(11%) sepia(8%) saturate(3005%) hue-rotate(189deg) brightness(97%) contrast(88%);
}

:root .purrari {
    --dark-blue: #4079bd;
    --mid-blue: #513bfb;
    --light-blue: #24f97d;
    --light-blue-hover: #78f5ac;

    --svg-mid-blue: invert(24%) sepia(71%) saturate(6369%) hue-rotate(246deg) brightness(98%) contrast(101%);
}

:root .dracula {
    --dark-blue: #3c2443;
    --mid-blue: #3f3751;
    --light-blue: #4db666;
    --light-blue-hover: #6dcc81;

    --svg-mid-blue: invert(22%) sepia(8%) saturate(1792%) hue-rotate(217deg) brightness(95%) contrast(94%);
}

:root .gruvbox {
    --dark-blue: #7f1a16;
    --mid-blue: #3c3836;
    --light-blue: #d79921;
    --light-blue-hover: #458588;

    --svg-mid-blue: invert(21%) sepia(16%) saturate(177%) hue-rotate(335deg) brightness(94%) contrast(95%);
}

/* Global */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--mid-blue);
}

p,h1,h2,h3,h4,span, input, input:autofill, select{
    margin: 0;
    padding: 0;
    font-family: 'Tiny5';
    text-transform: uppercase;

    color: var(--light-blue);
}

/* global modifiers */
.--button {
    width: 8rem;
    height: 4rem;
    background-color: var(--light-blue);
    border: none;
    border-radius: 1rem;
    user-select: none;
    display: inline-block;
}
.--button:hover {
    background-color: var(--light-blue-hover);
    transform: translateY(-5%);
}
.--button:active {
    background-color: var(--light-blue);
    transform: translateY(0);
}


.--arroba {
    font-size: 4rem
}
.--arroba::before,
.--arroba::after {
    content: " ";
}

.--icon-dark {
    background-color: var(--mid-blue);
}

.--icon {
    margin: 10%;
    height: 80%;
    filter: var(--svg-mid-blue);
    transition: transform 0.5s ease-in-out;
}

.--icon-trash {
    height: 60%;
    margin-left: 0
}

.--icon.--gear:hover {
    transform: rotate(52deg);
}

.--back-button {
  width: 2rem;
  height: 2rem;
}

.--opacity {
    opacity: 0.5;
}


@media (max-width: 800px) {
    h2 {
        font-size: 2rem;
    }
    .--back-button {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}