/*self hosting fonts (just 1 bruh)*/
@font-face {
    font-family: 'Tiny5';
    src: url('../fonts/Tiny5/Tiny5-Regular.ttf') format('truetype');
}

/* Common constants */
:root {
    --dark-blue: #181825;
    --mid-blue: #222738;
    --light-blue: #6e7888;
    --light-blue-hover: #808c9f;
}

/* Global */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*::before,*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--mid-blue);
}

p,h1,h2,h3,h4,span, input, select{
    margin: 0;
    padding: 0;
    font-family: 'Tiny5';
    text-transform: uppercase;

    color: var(--light-blue);
}

/* global modifiers */
.--button {
    width: 8rem;
    height: 4rem;
    background-color: var(--light-blue);
    border: none;
    border-radius: 1rem;
    user-select: none;
    display: inline-block;
}
.--button:hover {
    background-color: var(--light-blue-hover);
    transform: translateY(-5%);
}
.--button:active {
    background-color: var(--light-blue);
    transform: translateY(0);
}

.--arroba {
    font-size: 4rem
}
.--arroba::before,
.--arroba::after {
    content: " ";
}

.--icon-dark {
    background-color: var(--mid-blue);
}

.--icon {
    font-size: 2rem;
}

.--back-button {
  width: 2rem;
  height: 2rem;
}

.--opacity {
    opacity: 0.5;
}