/* users section */

.users {
  width: 100vw;
  height: 100vh;
  background-color: var(--mid-blue);
  padding: 2rem;
}
.users__title {
  display: inline-block;
  margin-left: 1rem;
}

.users__container {
  width: 120rem;
  min-width: 80rem;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40rem 1fr;
  gap: 2rem;
}
.users__list {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-right: 2px solid var(--light-blue);
}
.user__list__client {
  width: 100%;
  height: 4rem;
  background-color: var(--light-blue);
  text-align: center;
}
.user__list__client:hover {
  background-color: var(--light-blue-hover);
}
.user__list__clientname {
  color: var(--mid-blue);
  line-height: 4rem;
}
.user__stats {
  padding: 2rem;
}
.user__stats__info {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.user__stats__name,
.user__stats__email,
.user__stats__scores, 
.user__stats__time {
  font-size: 3rem;
}
.user__stats--bold {
  font-size: 4rem;
}
.user__stats__options {
  position: absolute;
  width: 50%;
  bottom: 0;
  display: flex;
  justify-content: space-between; 
  height: 5rem;
}
.user__stats__edit,
.user__stats__delete {
  color: var(--mid-blue); 
}

