.settings {
    position: absolute;
    z-index: 40;
    top: 0;
    left: 0;
    height: 100vh;
    width: 30rem;
    background-color: var(--dark-blue);
    padding: 2rem;
    transition: left .5s ease-in-out;
}

.--hide-settings {
    left: -30rem;
}

.settings-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
}

.settings-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.settings-input__label, .login-input__label {
    display: inline-block;
    font-size: 1.5rem;
}
.settings-input__field, .login-input__field {
    background-color: var(--dark-blue);
    border: none;
    font-size: 1.8rem;
    color: var(--light-blue);
    width: 4rem;
    outline: none;
}

.settings-input__checkbox {
    appearance: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--dark-blue);
    outline: none;
    border: .2rem solid var(--light-blue);
}

.settings-input-disabled {
    opacity: 0.3;
}

.settings-input__select {
    background-color: var(--mid-blue);
    border: .2rem solid var(--light-blue);
    width: 8rem;
    height: 2rem;
    font-size: 1.2rem;
    outline: none;
}

.settings-input__checkbox:checked {
    background-color: var(--light-blue);
    /*clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);*/
}
